env
*_cache/
*modelling.ipynb
*_data.csv
cache_nemed
__pycache__
.ipynb_checkpoints
CACHE
.idea/*
*results/
*script_for_flex.py
*flow_notebook.ipynb
time_series_data_with_battery.csv
time_series_data_with_battery.parquet
